.nav-bar-wraper.outter-wraper {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
}

.nav-bar-wraper {
    background-color: var(--bg-color);
}

.nav-bar__favicon,
.nav-bar__action-button {
    padding: 20px;
}

.nav-bar__action-button {
    border: none;
    background-color: inherit;
}

.nav-bar__action-button:hover {
    background-color: var(--grey);
}

.nav-bar__icon {
    margin-right: 0.4rem;
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        visibility: visible;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.animation--show {
    animation-name: show;
    animation-duration: 0.4s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

.animation--hide {
    animation: hide 0.4s ease-out 0s 1 normal;
    animation-fill-mode: forwards;
}

.nav-bar__search-wraper {
    width: 40%;
}

.nav-bar__search {
    position: relative;
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--grey);
}

.nav-bar__search__icon--start,
.nav-bar__search__icon--end {
    position: absolute;
    top: 50%;
    transform: translate(0, -60%);
}

.nav-bar__search__icon--start {
    left: 10px;
}

.nav-bar__search__icon--end {
    right: 10px;
    cursor: pointer;
}

.nav-bar__search__input {
    width: 100%;
    padding: 0 1.4rem;
    outline: none;
    border: none;
    background-color: inherit;
}

.cart-drop-list-wraper {
    background-color: var(--bg-color);

    position: absolute;
    bottom: -4px;
    right: var(--outter-padding);
    transform: translateY(100%);
    transition: opacity ease-in 0.2s;
}

.cart-drop-list {
    height: 60vh;
    width: 400px;
    overflow-y: scroll;
}

.car-drop-list__action-bar {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.search-result-list-wraper {
    width: 40%;
    padding: 10px;
    background-color: var(--bg-color);

    position: absolute;
    left: 50%;
    bottom: -4px;
    transform: translate(-50%, 100%);
}

.search-result-list {
    width: 100%;
    max-height: 50vh;
    text-align: center;
    overflow-y: scroll;
}

.search-result-list__loading-icon {
    font-size: 2rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.animation--loading::before {
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
}
