@import "../node_modules//bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules//bootstrap-icons/font/bootstrap-icons.css";
@import "./features/common/common.css";

:root {
  --bg-color: #fff;
  --grey: #f7f7f7;
  --black: #000;
  --red: rgb(226, 56, 34);
  --deep-grey: #b2b2b2;
  --shadow: rgba(0, 0, 0, 0.082);
  --outter-padding: 140px;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--bg-color);
}

i {
  font-size: 1.2rem;
}

.outter-wraper {
  position: relative;
  padding: 0 var(--outter-padding);
  margin: 0 -15px;
}

.drop-list {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 10px 10px 6px var(--shadow);
}
